<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Opskrifter</title>
</head>
<body>


<div th:switch="${recipes}">
    <h2 th:case="null">No recipes yet!</h2>
    <div th:case="*">
        <h2>Recipes</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="recipe : ${recipes}">
                <td th:text="${recipe.name}"></td>
                <td th:text="${recipe.description}"></td>
                <td><a th:href="@{/edit/{id}(id=${recipe.id})}">Edit</a></td>
                <td><a th:href="@{/delete/{id}(id=${recipe.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/create">Add a new recipe</a></p>
</div>


</body>
</html>